<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Account - Blog Website</title>

</head>
<body>
<div>
  <h1 >LOGIN BLOG</h1>
  <div >

  </div>
  <form action="/log-in" method="post">
    <div >
      <label >Email:</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" required>
    </div>
    <div ">
      <label>Password:</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password" required>
    </div>
    <div >
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <div >
    <a href="">Forget password?</a>
    <a href="/register">Register Account</a>
  </div>
</div>
</body>
</html>